body {
	font-family: "ff-tisa-web-pro", serif;
	max-width: 680px;
	padding: 15px;
	margin: 0 auto;
}
p {
	font-size: 18px;
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
}
h1, .date {
	text-align: center;
}
.date {
	color: #707070;
}
img {
	width: 100%;
	height: auto;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
/* body {background:#fff; font-family: helvetica, sans-serif; font-size: 1em; line-height: .1em; float: left;}

p {line-height: 1.4em;}	
h2 {font-size: 1.4em; color:#333; line-height:40px; font-weight:normal;}
h2 a:link {border-style: none;}
h3 {font-weight:normal; font-size: .9em; color:#303030; line-height:2.8em;}
h3 a:link {border-style: none;}
pre {line-height:1.4em}

ol {margin:1em 0 2em 0;}
li {line-height: 1.5em;}

a:link {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
a:visited {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
a:hover {color: #999; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0; text-decoration: none;} */